# Python
__pycache__/

# Poetry
/.python-version
/.venv/

# Django
/local_settings.py
/local_settings_example.py
/site/media/
/site/static/

# Misc
/.git/
**/.gitignore
README.md
/.github/

# Editors
/.idea/
**/*.swp
